/* ==========================================================================
   #SHARED
   ========================================================================== */

// sass-lint:disable single-line-per-selector
address,
h1, h2, h3, h4, h5, h6,
blockquote, p, pre,
dl, ol, ul,
figure,
hr,
table, caption,
fieldset, legend {
    margin-bottom: $base-spacing-unit;
}

caption,
th {
    text-align: left;
}

th,
td {
    padding: $base-spacing-unit-small $base-spacing-unit;
}
