/* stylelint-disable selector-list-comma-newline-after */

/* ==========================================================================
   #RESET
   ========================================================================== */

/* Remove margins and padding. */

body,
h1, h2, h3, h4, h5, h6,
blockquote, p, pre,
dl, dd, ol, ul,
figure,
hr,
fieldset, legend {
  margin: 0;
  padding: 0;
}

/* Remove trailing margins from nested lists. */

li > {
  ol,
  ul {
    margin-bottom: 0;
  }
}

/**
 * Remove the gap between audio, canvas, iframes, images, videos and the bottom
 * of their containers: https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/**
 * 1. Remove default border on fieldsets.
 * 2. Reset Chrome and Firefox behaviour which sets a `min-width: min-content;`
 *    on fieldsets.
 */

fieldset {
  border: 0; /* [1] */
  min-width: 0; /* [2] */
}

/**
 * Remove default table spacing.
 */

table {
  border-collapse: collapse;
  border-spacing: 0;
}
