/* ==========================================================================
   #BOX SIZING
   ========================================================================== */

/**
 * A more sensible default box sizing:
 * https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}
