/* stylelint-disable selector-list-comma-newline-after */

/* ==========================================================================
   #SHARED
   ========================================================================== */

html,
body {
  height: 100%;
}

address,
h1, h2, h3, h4, h5, h6,
blockquote, p, pre,
dl, ol, ul,
figure,
hr,
table {
  margin-bottom: $base-spacing-unit;
}

fieldset,
legend {
  margin-bottom: $base-spacing-unit-small;
}

caption,
th {
  text-align: left;
}

th,
td {
  padding: $base-spacing-unit-small $base-spacing-unit;
}
