/* ==========================================================================
   #LIST
   ========================================================================== */

.o-list {
    list-style: none;
    margin-left: 0;

    /* Inline */

    &.o-list--inline {

        li {
            display: inline-block;
        }
    }
}
