/* ==========================================================================
   #GRID
   ========================================================================== */

.o-grid {
    margin-bottom: $base-spacing-unit;
    width: 100%;

    /* Row */

    .o-grid__row {
        display: flex;
        flex-wrap: wrap;
        margin-left: -$base-spacing-unit;
        width: 100%;
    }

    /* Column */

    .o-grid__col {
        flex: 1 1 auto;
        padding-left: $base-spacing-unit;
        padding-top: $base-spacing-unit;
    }
}
