/* ==========================================================================
   #COLORS
   ========================================================================== */

/* #BACKGROUND
   ========================================================================== */

/* Brand */

.u-bg-color-brand           { background-color: $color-brand !important; }
.u-bg-color-brand-secondary { background-color: $color-brand-secondary !important; }

/* Neutral */

.u-bg-color-black           { background-color: $color-black !important; }
.u-bg-color-gray            { background-color: $color-gray !important; }
.u-bg-color-silver          { background-color: $color-silver !important; }
.u-bg-color-white           { background-color: $color-white !important; }

/* Social */

.u-bg-color-facebook        { background-color: $color-facebook !important; }
.u-bg-color-linkedin        { background-color: $color-linkedin !important; }
.u-bg-color-twitter         { background-color: $color-twitter !important; }
.u-bg-color-youtube         { background-color: $color-youtube !important; }

/* Utility */

.u-bg-color-error           { background-color: $color-error !important; }
.u-bg-color-warning         { background-color: $color-warning !important; }
.u-bg-color-highlight       { background-color: $color-highlight !important; }
.u-bg-color-success         { background-color: $color-success !important; }
.u-bg-color-information     { background-color: $color-information !important; }





/* #FOREGROUND
   ========================================================================== */

/* Brand */

.u-color-brand           { background-color: $color-brand !important; }
.u-color-brand-secondary { background-color: $color-brand-secondary !important; }

/* Neutral */

.u-color-black           { background-color: $color-black !important; }
.u-color-gray            { background-color: $color-gray !important; }
.u-color-silver          { background-color: $color-silver !important; }
.u-color-white           { background-color: $color-white !important; }

/* Social */

.u-color-facebook        { background-color: $color-facebook !important; }
.u-color-linkedin        { background-color: $color-linkedin !important; }
.u-color-twitter         { background-color: $color-twitter !important; }
.u-color-youtube         { background-color: $color-youtube !important; }

/* Utility */

.u-color-error           { background-color: $color-error !important; }
.u-color-warning         { background-color: $color-warning !important; }
.u-color-highlight       { background-color: $color-highlight !important; }
.u-color-success         { background-color: $color-success !important; }
.u-color-information     { background-color: $color-information !important; }
