/* ==========================================================================
   #MIXINS
   ========================================================================== */

/**
 * Clearfix: contain floats.
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

@mixin clearfix {
  &::before,
  &::after {
    content: ' '; /* 1 */
    display: table; /* 2 */
  }

  &::after {
    clear: both;
  }
}

/**
 * Set font size with a relative line height.
 *
 * The `$font-size` argument should be specified in `rem` units.
 * The `$line-height` argument, if specified, should be unitless.
 */

@mixin font-size($font-size, $line-height: auto, $important: false) {
  font-size: $font-size;

  @if ($important == true) {
    $important: !important;
  } @else {
    $important: null;
  }

  @if ($line-height == 'auto') {
    line-height: ceil($font-size / $base-line-height) * ($base-line-height / $font-size) $important;
  } @else {
    line-height: $line-height $important;
  }
}

/**
 * Remove the default styles from lists.
 */

@mixin list-reset() {
  list-style: none;
  margin: 0;
}
