/* ==========================================================================
   #GRID
   ========================================================================== */

.o-grid {
  clear: both;
  width: 100%;

  & + .o-grid {
    margin-top: $base-spacing-unit;
  }

  /* Row */

  .o-grid__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -$base-spacing-unit;
    margin-top: -$base-spacing-unit;

    & + .o-grid__row {
      margin-top: 0;
    }
  }

  /* Column */

  .o-grid__col {
    padding-left: $base-spacing-unit;
    padding-top: $base-spacing-unit;
  }
}
