/* ==========================================================================
   #FONTS
   ========================================================================== */

/* Family */

$font:           $brand-font;
$font-secondary: $brand-font-secondary;

/* Size */

$font-size-h1:   2rem;     /* 32 / 16 */
$font-size-h2:   1.75rem;  /* 28 / 16 */
$font-size-h3:   1.5rem;   /* 24 / 16 */
$font-size-h4:   1.25rem;  /* 20 / 16 */
$font-size-h5:   1.125rem; /* 18 / 16 */
$font-size-h6:   1rem;     /* 16 / 16 */

/* Weight */

$weight-bold:    700;
$weight-normal:  400;
