/* ==========================================================================
   #COLORS
   ========================================================================== */

/* #BACKGROUND
   ========================================================================== */

/* Brand */

.u-bg-color-brand-dark {
  background-color: $color-brand-dark !important;
}

.u-bg-color-brand {
  background-color: $color-brand !important;
}

.u-bg-color-brand-light {
  background-color: $color-brand-light !important;
}

.u-bg-color-brand-secondary-dark {
  background-color: $color-brand-secondary-dark !important;
}

.u-bg-color-brand-secondary {
  background-color: $color-brand-secondary !important;
}

.u-bg-color-brand-secondary-light {
  background-color: $color-brand-secondary-light !important;
}

/* Neutral */

.u-bg-color-black {
  background-color: $color-black !important;
}

.u-bg-color-gray-90 {
  background-color: $color-gray-90 !important;
}

.u-bg-color-gray-80 {
  background-color: $color-gray-80 !important;
}

.u-bg-color-gray-50 {
  background-color: $color-gray-50 !important;
}

.u-bg-color-gray-20 {
  background-color: $color-gray-20 !important;
}

.u-bg-color-gray-10 {
  background-color: $color-gray-10 !important;
}

.u-bg-color-gray-05 {
  background-color: $color-gray-05 !important;
}

.u-bg-color-white {
  background-color: $color-white !important;
}

/* Social */

.u-bg-color-facebook {
  background-color: $color-facebook !important;
}

.u-bg-color-linkedin {
  background-color: $color-linkedin !important;
}

.u-bg-color-twitter {
  background-color: $color-twitter !important;
}

.u-bg-color-youtube {
  background-color: $color-youtube !important;
}

/* Utility */

.u-bg-color-error {
  background-color: $color-error !important;
}

.u-bg-color-warning {
  background-color: $color-warning !important;
}

.u-bg-color-highlight {
  background-color: $color-highlight !important;
}

.u-bg-color-success {
  background-color: $color-success !important;
}

.u-bg-color-information {
  background-color: $color-information !important;
}

/* #FOREGROUND
   ========================================================================== */

/* Brand */

.u-color-brand-dark {
  background-color: $color-brand-dark !important;
}

.u-color-brand {
  background-color: $color-brand !important;
}

.u-color-brand-light {
  background-color: $color-brand-light !important;
}

.u-color-brand-secondary-dark {
  background-color: $color-brand-secondary-dark !important;
}

.u-color-brand-secondary {
  background-color: $color-brand-secondary !important;
}

.u-color-brand-secondary-light {
  background-color: $color-brand-secondary-light !important;
}

/* Neutral */

.u-color-black {
  background-color: $color-black !important;
}

.u-color-gray-90 {
  background-color: $color-gray-90 !important;
}

.u-color-gray-80 {
  background-color: $color-gray-80 !important;
}

.u-color-gray-50 {
  background-color: $color-gray-50 !important;
}

.u-color-gray-20 {
  background-color: $color-gray-20 !important;
}

.u-color-gray-10 {
  background-color: $color-gray-10 !important;
}

.u-color-gray-05 {
  background-color: $color-gray-05 !important;
}

.u-color-white {
  background-color: $color-white !important;
}

/* Social */

.u-color-facebook {
  background-color: $color-facebook !important;
}

.u-color-linkedin {
  background-color: $color-linkedin !important;
}

.u-color-twitter {
  background-color: $color-twitter !important;
}

.u-color-youtube {
  background-color: $color-youtube !important;
}

/* Utility */

.u-color-error {
  background-color: $color-error !important;
}

.u-color-warning {
  background-color: $color-warning !important;
}

.u-color-highlight {
  background-color: $color-highlight !important;
}

.u-color-success {
  background-color: $color-success !important;
}

.u-color-information {
  background-color: $color-information !important;
}
