/* -------------------------------------------------------------------------- *\
   #FLOATS
\* -------------------------------------------------------------------------- */

.u-float-left {
  float: left !important;
  margin-right: 1em;
}

.u-float-right {
  float: right !important;
  margin-left: 1em;
}
