/* stylelint-disable */

/* ==========================================================================
   #WIDTHS
   ========================================================================== */

/* 1/1 */

.u-1\/1 {
  width: 100%;
}

/* 2/3 */

.u-2\/3 {
  width: 66.66%;
}

/* 1/2 */

.u-1\/2 {
  width: 50%;
}

/* 1/3 */

.u-1\/3 {
  width: 33.33%;
}

/* 1/4 */

.u-1\/4 {
  width: 25%;
}

@media all and (min-width: $bp-small) {
  .u-3\/4\@sm {
    width: 75%;
  }

  .u-2\/3\@sm {
    width: 66.66%;
  }

  .u-1\/2\@sm {
    width: 50%;
  }

  .u-1\/3\@sm {
    width: 33.33%;
  }

  .u-1\/4\@sm {
    width: 25%;
  }
}

@media all and (min-width: $bp-medium) {
  .u-3\/4\@md {
    width: 75%;
  }

  .u-2\/3\@md {
    width: 66.66%;
  }

  .u-1\/2\@md {
    width: 50%;
  }

  .u-1\/3\@md {
    width: 33.33%;
  }

  .u-1\/4\@md {
    width: 25%;
  }
}

@media all and (min-width: $bp-large) {
  .u-3\/4\@lg {
    width: 75%;
  }

  .u-2\/3\@lg {
    width: 66.66%;
  }

  .u-1\/2\@lg {
    width: 50%;
  }

  .u-1\/3\@lg {
    width: 33.33%;
  }

  .u-1\/4\@lg {
    width: 25%;
  }
}

@media all and (min-width: $bp-xl) {
  .u-3\/4\@xl {
    width: 75%;
  }

  .u-2\/3\@xl {
    width: 66.66%;
  }

  .u-1\/2\@xl {
    width: 50%;
  }

  .u-1\/3\@xl {
    width: 33.33%;
  }

  .u-1\/4\@xl {
    width: 25%;
  }
}
