/* stylelint-disable block-opening-brace-space-before */

/* ==========================================================================
   #SPACING
   ========================================================================== */

/* Margins */

.u-margin-large         { margin: $base-spacing-unit-large !important; }
.u-margin               { margin: $base-spacing-unit !important; }
.u-margin-small         { margin: $base-spacing-unit-small  !important; }
.u-margin-bottom-large  { margin-bottom: $base-spacing-unit-large !important; }
.u-margin-bottom        { margin-bottom: $base-spacing-unit !important; }
.u-margin-bottom-small  { margin-bottom: $base-spacing-unit-small !important; }
.u-margin-left-large    { margin-left: $base-spacing-unit-large !important; }
.u-margin-left          { margin-left: $base-spacing-unit !important; }
.u-margin-left-small    { margin-left: $base-spacing-unit-small !important; }
.u-margin-right-large   { margin-right: $base-spacing-unit-large !important; }
.u-margin-right         { margin-right: $base-spacing-unit !important; }
.u-margin-right-small   { margin-right: $base-spacing-unit-small !important; }
.u-margin-top-large     { margin-top: $base-spacing-unit-large !important; }
.u-margin-top           { margin-top: $base-spacing-unit !important; }
.u-margin-top-small     { margin-top: $base-spacing-unit-small !important; }

/* Padding */

.u-padding-large        { padding: $base-spacing-unit-large !important; }
.u-padding              { padding: $base-spacing-unit !important; }
.u-padding-small        { padding: $base-spacing-unit-small  !important; }
.u-padding-bottom-large { padding-bottom: $base-spacing-unit-large !important; }
.u-padding-bottom       { padding-bottom: $base-spacing-unit !important; }
.u-padding-bottom-small { padding-bottom: $base-spacing-unit-small !important; }
.u-padding-left-large   { padding-left: $base-spacing-unit-large !important; }
.u-padding-left         { padding-left: $base-spacing-unit !important; }
.u-padding-left-small   { padding-left: $base-spacing-unit-small !important; }
.u-padding-right-large  { padding-right: $base-spacing-unit-large !important; }
.u-padding-right        { padding-right: $base-spacing-unit !important; }
.u-padding-right-small  { padding-right: $base-spacing-unit-small !important; }
.u-padding-top-large    { padding-top: $base-spacing-unit-large !important; }
.u-padding-top          { padding-top: $base-spacing-unit !important; }
.u-padding-top-small    { padding-top: $base-spacing-unit-small !important; }
