/* ==========================================================================
   #BREADCRUMBS
   ========================================================================== */

.c-breadcrumbs {
  display: flex;
  overflow-x: auto;

  /* Item */

  .c-breadcrumbs__item {
    color: $color-brand;
    display: flex;
    flex: 0 1 auto;
    font-size: 0.875rem; /* 14 / 16 */
    white-space: nowrap;

    &:not(:last-child) {
      &::after {
        color: $color-brand-secondary;
        content: '/';
        flex: 0 1 auto;
        padding-left: $base-spacing-unit-small;
        padding-right: $base-spacing-unit-small;
      }
    }
  }

  /* Link */

  .c-breadcrumbs__link {
    border-bottom: 0.0625em solid transparent;
    color: $color-brand-secondary;
    flex: 0 1 auto;
    text-decoration: none;
    transition: border-bottom-color 0.25s, color 0.25s;

    &:focus,
    &:hover {
      border-bottom-color: $color-brand;
      color: $color-brand;
    }
  }
}
