/* ==========================================================================
   #FORMS
   ========================================================================== */

/* Form */

.c-form {
  /**
   * Inline
   */

  &.c-form--inline {
    display: flex;

    /* Group */

    .c-form-group {
      margin-bottom: 0;
      flex: 1;

      input {
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
      }

      & + .c-btn {
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
      }
    }
  }
}

/* Group */

.c-form-group {
  margin-bottom: $base-spacing-unit-small;

  &:last-child {
    margin-bottom: 0;
  }

  /* Checkbox or Radio Button */

  &.c-form-group--check {
    label {
      display: block;
      font-weight: $weight-normal;
      margin-bottom: 0;

      & + label {
        margin-top: $base-spacing-unit-small;
      }
    }
  }

  /* Flat */

  &.c-form-group--flat {
    margin-bottom: 0;
  }

  /* Inline */

  &.c-form-group--inline {
    legend {
      margin-bottom: 0;
    }

    label {
      display: inline-block;

      &:not(:last-child) {
        margin-right: $base-spacing-unit-small;
      }
    }
  }
}

/* Control */

.c-form-control {
  border: $base-border-width-small solid $color-gray-20;
  border-radius: $base-border-radius;
  box-shadow: $base-box-shadow-inset;
  display: block;
  font-family: inherit;
  font-size: inherit;
  height: calc(#{$base-font-size} * #{$base-line-height} + (#{$base-border-width-small} * 2) + (#{$base-spacing-unit-xs} * 2));
  line-height: $base-line-height;
  padding: $base-spacing-unit-xs $base-spacing-unit-small;
  transition: border-color 0.25s, box-shadow 0.25s;
  width: 100%;

  &[disabled] {
    background-color: $color-gray-05;
    box-shadow: none;
    color: $color-brand-secondary;

    &:focus,
    &:hover {
      border-color: $color-gray-20;
      box-shadow: none;
      cursor: not-allowed;
    }
  }

  &:focus,
  &:hover {
    border-color: $color-brand;
    box-shadow: $base-box-shadow-highlight;
    outline: 0;
  }

  /* File */

  &.c-form-control--file {
    border: 0;
    box-shadow: none;
    height: auto;
    padding: 0;
    width: auto;

    &:focus,
    &:hover {
      box-shadow: none;
    }

    /**
     * Error
     */

    &.is-error {
      box-shadow: none;
    }
  }

  /**
   * Textarea
   */

  &.c-form-control--textarea {
    height: auto;
    resize: vertical;
  }

  /**
   * Error
   */

  &.is-error {
    border-color: $color-error;
    box-shadow: $base-box-shadow-error;
  }
}

/* Help */

.c-form-help {
  color: $color-gray-50;
  font-size: 0.75rem; /* 14 / 16 */
  margin-top: $base-spacing-unit-xs;

  /**
   * Error
   */

  &.is-error {
    color: $color-error;
  }
}

@media all and (min-width: $bp-medium) {
  .c-form {
    &.c-form--inline {
      .c-form-group {
        flex: auto;
      }
    }
  }
}

@media all and (min-width: $bp-large) {
  .c-form-group {
    margin-bottom: $base-spacing-unit;
  }
}
