/* ==========================================================================
   #BADGES
   ========================================================================== */

.c-badge {
  background-color: $color-information;
  border-radius: $base-border-radius-large;
  color: $color-white;
  display: inline-block;
  font-size: 0.625rem; /* 10 / 16 */
  font-weight: $weight-bold;
  padding: 0.125em 0.5em;
  text-align: center;
  text-transform: uppercase;
  transition: background-color 0.25s;

  /* Link */

  .c-badge__link {
    color: $color-white;
    text-decoration: none;
  }

  /**
   * Success
   */

  &.c-badge--success {
    background-color: $color-success;
  }

  /**
   * Warning
   */

  &.c-badge--warning {
    background-color: $color-warning;
  }

  /**
   * Error
   */

  &.c-badge--error {
    background-color: $color-error;
  }
}
