/* ==========================================================================
   #BUTTON GROUPS
   ========================================================================== */

.c-btn-group {
  display: flex;

  /* Button */

  .c-btn {
    &:not(:last-child) {
      margin-right: $base-spacing-unit-small;
    }
  }
}

@media all and (min-width: $bp-large) {
  .c-btn-group {
    /* Button */
    .c-btn {
      &:not(:last-child) {
        margin-right: $base-spacing-unit;
      }

      /**
       * Small
       */

      &.c-btn--small {
        &:not(:last-child) {
          margin-right: $base-spacing-unit-small;
        }
      }
    }
  }
}
