/* ==========================================================================
   #QUOTES
   ========================================================================== */

/* Block */

blockquote {
    border-left: 0.125em solid $color-brand-secondary;
    padding-left: $base-spacing-unit;

    q {
        quotes: '‘' '’';

        &::after {
            content: close-quote;
        }

        &::before {
            content: open-quote;
        }
    }

    cite {
        display: block;
    }
}

/* Inline */

q {
    font-style: italic;
    quotes: '‘' '’' '“' '”';

    &::after {
        content: close-quote;
    }

    &::before {
        content: open-quote;
    }
}
