/* ==========================================================================
   #PAGE
   ========================================================================== */

html {
    background-color: $color-white;
    color: $color-black;
    font-family: $font;
    font-size: $base-font-size;
    line-height: $base-line-height;
}
