/* ==========================================================================
   #TYPE
   ========================================================================== */

/* Horizontal Rule */

hr {
    border: 0;
    border-top: $base-border-width solid $color-brand;
    display: block;
}

/* Figure */

figure {

    > img {
        margin-bottom: $base-spacing-unit-small;
    }
}
