/* ==========================================================================
   #TABLES
   ========================================================================== */

table {
    border-collapse: collapse;
    width: 100%;

    thead {
        border-bottom: 0.125em solid $color-brand;
    }

    th {
        padding: $base-spacing-unit;
    }

    td {
        padding: $base-spacing-unit;
    }
}
