/* ==========================================================================
   #TYPE
   ========================================================================== */

/* A better looking default horizontal rule */
hr {
    border: 0;
    border-top: 1px solid $color-silver;
    display: block;
    height: 1px;
    margin: 1em 0;
    padding: 0;
}
