/* ==========================================================================
   #FORMS
   ========================================================================== */

/* Group */

.c-form-group {
    margin-bottom: $base-spacing-unit;

    /* Checkbox or Radio Button */

    &.c-form-group--check {

        label {
            margin-bottom: 0;
        }

        input[type="checkbox"],
        input[type="radio"] {
            margin-right: $base-spacing-unit-xs;
        }
    }
}

/* Control */

.c-form-control {
    border: $base-border-width-small solid $color-silver;
    border-radius: $base-border-radius;
    display: block;
    font-family: inherit;
    font-size: inherit;
    height: 2.125em; /* 34 / 16 */
    line-height: 1.5;
    padding: $base-spacing-unit-xs $base-spacing-unit-small;
    transition: border-color 0.25s, box-shadow 0.25s;
    width: 100%;

    &:focus {
        box-shadow: 0 0 $base-spacing-unit-small $color-silver;
        outline: 0;
    }

    &:hover {
        border-color: $color-gray;
    }
}
