/* ==========================================================================
   #BUTTON GROUPS
   ========================================================================== */

.c-btn-group {
  @include clearfix;
  margin-bottom: -$base-spacing-unit-small;

  .c-btn {
    float: left;

    &:not(:last-child) {
      margin-bottom: $base-spacing-unit-small;
      margin-right: $base-spacing-unit-small;
    }
  }
}
