/* ==========================================================================
   #FORMS
   ========================================================================== */

/* Group */

.c-form-group {
  margin-bottom: $base-spacing-unit-small;

  /* Inline */

  &.c-form-group--inline {

    label {
      font-weight: $weight-normal;
      margin-bottom: 0;

      &:not(:last-child) {
        margin-right: $base-spacing-unit-small;
      }
    }
  }
}

/* Control */

.c-form-control {
  border: $base-border-width-small solid $color-gray-10;
  border-radius: $base-border-radius;
  display: block;
  font-family: inherit;
  font-size: inherit;
  height: calc(#{$base-font-size} * #{$base-line-height} + (#{$base-border-width-small} * 2) + (#{$base-spacing-unit-xs} * 2));
  line-height: $base-line-height;
  padding: $base-spacing-unit-xs $base-spacing-unit-small;
  transition: border-color 0.25s, box-shadow 0.25s;
  width: 100%;

  &:focus,
  &:hover {
    border-color: $color-brand;
    box-shadow: $base-box-shadow-highlight;
    outline: 0;
  }

  /* File */

  &.c-form-control--file {
    border: 0;
    height: auto;
    padding: 0;
    width: auto;

    &:focus,
    &:hover {
      box-shadow: none;
    }
  }

  /* Textarea */

  &.c-form-control--textarea {
    height: auto;
  }
}

/* Help */

.c-form-help {
  color: $color-gray-50;
  font-size: 0.75rem; /* 14 / 16 */
  margin-top: $base-spacing-unit-xs;
}
