/* ==========================================================================
   #ALERTS
   ========================================================================== */

.c-alert {
    background-color: lighten($color-information, 40%);
    border: $base-border-width-small solid $color-information;
    border-radius: $base-border-radius-large;
    box-shadow: 0 0.125em $base-spacing-unit $color-silver;
    color: darken($color-information, 20%);
    margin-bottom: $base-spacing-unit;
    padding: $base-spacing-unit-small $base-spacing-unit $base-spacing-unit-small $base-spacing-unit-small;
    position: relative;

    /* Body */

    .c-alert__body {

        p {
            margin-bottom: 0;

            & + p {
                margin-top: $base-spacing-unit;
            }
        }
    }

    /* Dismiss */

    .c-alert__dismiss {
        background-color: transparent;
        border: 0;
        color: lighten($color-information, 20%);
        cursor: pointer;
        padding: 0;
        position: absolute;
        right: $base-spacing-unit-small;
        top: 50%;
        transform: translateY(-50%);
        transition: color 0.25s;

        &:focus,
        &:hover {
            color: $color-information;
        }
    }

    /**
     * Success
     */

    &.c-alert--success {
        background-color: lighten($color-success, 35%);
        border-color: $color-success;
        color: darken($color-success, 20%);

        /* Dismiss */

        .c-alert__dismiss {
            color: lighten($color-success, 20%);

            &:focus,
            &:hover {
                color: $color-success;
            }
        }
    }

    /**
     * Warning
     */

    &.c-alert--warning {
        background-color: lighten($color-warning, 35%);
        border-color: $color-warning;
        color: darken($color-warning, 20%);

        /* Dismiss */

        .c-alert__dismiss {
            color: lighten($color-warning, 20%);

            &:focus,
            &:hover {
                color: $color-warning;
            }
        }
    }

    /**
     * Error
     */

    &.c-alert--error {
        background-color: lighten($color-error, 35%);
        border-color: $color-error;
        color: darken($color-error, 20%);

        /* Dismiss */

        .c-alert__dismiss {
            color: lighten($color-error, 20%);

            &:focus,
            &:hover {
                color: $color-error;
            }
        }
    }
}
