/* ==========================================================================
   #PAGINATION
   ========================================================================== */

.c-pagination {
    @include clearfix;
    align-items: center;
    display: flex;

    /* Meta */

    .c-pagination__meta {
        margin-right: $base-spacing-unit-small;
        vertical-align: middle;
    }

    /* Control */

    .c-pagination__control {
        background-color: $color-brand-secondary;
        border-radius: $base-border-radius;
        color: $color-white;
        line-height: 1;
        padding: $base-spacing-unit-xs $base-spacing-unit-small;
        position: relative;
        text-decoration: none;
        transition: color 0.25s, transform 0.25s;

        &::after {
            border-radius: $base-border-radius;
            box-shadow: 0 0.125em $base-spacing-unit-small $color-gray;
            content: '';
            height: 100%;
            left: 0;
            opacity: 0;
            position: absolute;
            top: 0;
            transition: opacity 0.25s;
            width: 100%;
            z-index: -1;
        }

        &:focus,
        &:hover {
            color: $color-brand;
            transform: translateY(-0.0625em);

            &::after {
                opacity: 1;
            }
        }

        &:active {
            transform: translateY(0);

            &::after {
                opacity: 0;
            }
        }

        & + .c-pagination__control {
            margin-left: $base-spacing-unit-xs;
        }

        /**
         * Disabled
         */

        &.is-disabled {
            background-color: $color-silver;

            &:focus,
            &:hover {
                color: $color-white;
                transform: none;

                &::after {
                    opacity: 0;
                }
            }
        }
    }
}
