/* ==========================================================================
   #BREADCRUMBS
   ========================================================================== */

.c-breadcrumbs {
  display: flex;
  overflow-x: auto;

  /* Item */

  .c-breadcrumbs__item {
    color: $color-brand;
    display: flex;
    flex: 0 1 auto;
    font-size: 0.875rem;
    white-space: nowrap;

    &:not(:last-child) {

      &::after {
        color: $color-brand-secondary;
        content: '/';
        flex: 0 1 auto;
        padding-left: $base-spacing-unit-xs;
        padding-right: $base-spacing-unit-xs;
      }
    }
  }

  /* Link */

  .c-breadcrumbs__link {
    color: $color-brand-secondary;
    flex: 0 1 auto;

    &:focus,
    &:hover {
      color: $color-brand;
    }
  }
}
