/* ==========================================================================
   #BUTTONS
   ========================================================================== */

.c-btn {
    cursor: pointer;
    font: inherit;
    display: inline-block;
    padding: 1em;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;

    /* Secondary */
    &.c-btn--secondary {

    }
}
