/* ==========================================================================
   #BUTTON GROUP
   ========================================================================== */

.c-btn-group {
    @include clearfix;
    margin-bottom: $base-spacing-unit;

    .c-btn {
        float: left;

        &:not(last-child) {
            margin-right: $base-spacing-unit-small;
        }
    }
}
