/* ==========================================================================
   #GLOBAL
   ========================================================================== */

/* #BRAND
   ========================================================================== */

/* Color */

$brand-color:           #0074d9;
$brand-color-secondary: #001f3f;

/* Font */

$brand-font:            -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif;
$brand-font-secondary:  Georgia, serif;





/* #BASE
   ========================================================================== */

/* Font */

$base-font-size:                 1rem;
$base-line-height:               1.5;

/* Spacing */

$base-spacing-unit-factor-large: 1.5;
$base-spacing-unit-factor-small: 0.5;
$base-spacing-unit-factor-xs:    0.25;
$base-spacing-unit:              $base-line-height + rem;
$base-spacing-unit-large:        $base-line-height * $base-spacing-unit-factor-large + rem;
$base-spacing-unit-small:        $base-line-height * $base-spacing-unit-factor-small + rem;
$base-spacing-unit-xs:           $base-line-height * $base-spacing-unit-factor-xs + rem;

/* Borders */

$base-border-width:              0.125em;
$base-border-width-small:        0.0625em;
$base-border-radius-large:       0.25em;
$base-border-radius:             0.125em;
$base-border-radius-small:       0.0625em;

/* Shadows */

$base-box-shadow:                0 0.125em 0.5em rgba(34, 34, 34, 0.125);
$base-box-shadow-highlight:      0 0 0.5em rgba(1, 255, 112, 0.25);
