/* -------------------------------------------------------------------------- *\
   #GLOBAL
\* -------------------------------------------------------------------------- */

// Brand
$brand-color:           #001f3f;
$brand-color-secondary: #01ff70;
$brand-font:            Arial, sans-serif;
$brand-font-secondary:  Georgia, serif;
