/* -------------------------------------------------------------------------- *\
   #COLORS
\* -------------------------------------------------------------------------- */

// Brand
$color-brand:           $brand-color;
$color-brand-secondary: $brand-color-secondary;

// Neutral
$color-black:           #111;
$color-gray:            #aaa;
$color-silver:          #ddd;
$color-white:           #fff;

// Social
$color-facebook:        #3b5998;
$color-linkedin:        #0077b5;
$color-twitter:         #1da1f2;
$color-youtube:         #ff0000;

// Utility
$color-error:           #ff4136;
$color-warning:         #ff851b;
$color-highlighter:     #ffdc00;
$color-success:         #2ecc40;
$color-information:     #0074d9;
