/* ==========================================================================
   #RESPONSIVE
   ========================================================================== */

/* Breakpoints */

$bp-small:  36em; /*  576 / 16 */
$bp-medium: 48em; /*  768 / 16 */
$bp-large:  62em; /*  992 / 16 */
$bp-xl:     75em; /* 1200 / 16 */
