/* ==========================================================================
   #TABLES
   ========================================================================== */

table {
  display: block;
  overflow-x: auto;
  white-space: nowrap;
  width: 100%;

  caption {
    caption-side: bottom;
    color: $color-gray-50;
    font-size: 0.875rem;
    margin-top: $base-spacing-unit-small;
  }

  thead {
    border-bottom: $base-border-width solid $color-brand-secondary;
  }

  td {
    border-bottom: $base-border-width-small solid $color-gray-20;
  }
}
