/* ==========================================================================
   #PAGE
   ========================================================================== */

/**
 * The page-level setup.
 *
 * 1. The browser will emphasize legibility over rendering speed and geometric
 *    precision: https://developer.mozilla.org/en-US/docs/Web/CSS/text-rendering
 */

html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  color: $color-brand-secondary;
  font-family: $font;
  font-size: $base-font-size;
  line-height: $base-line-height;
  text-rendering: optimizeLegibility; /* [1] */
}

body {
  overflow-y: scroll;
}
