/* ==========================================================================
   #FIGURES
   ========================================================================== */

figure {
  figcaption {
    color: $color-gray-50;
    display: block;
    font-size: 0.875rem;
    margin-top: $base-spacing-unit-small;
  }
}
