/* ==========================================================================
   #FORMS
   ========================================================================== */

/* Label */

label {
  display: inline-block;
  font-weight: $weight-bold;
  margin-bottom: $base-spacing-unit-xs;

  /* Checkbox or Radio Button */

  [type='checkbox'],
  [type='radio'] {
    margin-right: $base-spacing-unit-xs;
  }
}

/* Legend */

legend {
  font-weight: $weight-bold;
}
