/* ==========================================================================
   #MAIN
   ========================================================================== */

/**
 * TABLE OF CONTENTS
 *
 * 01. SETTINGS
 * Global..............Unique brand identity values.
 * Colors..............The color palette.
 * Fonts...............Font family, sizing and weights.
 * Responsive..........Breakpoints for media queries.
 *
 * 02. TOOLS
 * Mixins..............Functions for DRY code.
 *
 * 03. GENERIC
 * Normalize.css.......Render all elements more consistently.
 * Reset...............A tiny reset.
 * Box Sizing..........Default box sizing of all elements.
 * Shared..............Rules that apply to multiple selectors.
 *
 * 04. ELEMENTS
 * Page................The defaults of the document.
 * Headings............Setup of h1 to h6.
 * Type................Basic typographic elements.
 * Links...............The default anchor style.
 * Lists...............Styles for lists.
 * Forms...............Basic form elements.
 * Figures.............Represent self-contained content.
 * Images..............Ensure images are fluid.
 * Quotes..............Cater for block and inline quotes.
 * Tables..............Tabular data styles.
 *
 * 05. OBJECTS
 * Wrapper.............Content width constraints.
 * Grid................Basic grid layout.
 * Lists...............Custom list styles.
 * Media...............An image with descriptive contents.
 *
 * 06. COMPONENTS
 * Alerts..............Provides feedback to the interface.
 * Badges..............Highlight a piece of information.
 * Breadcrumbs.........Displays the hierarchy between content.
 * Forms...............Form control styling and layout.
 * Buttons.............Button styles.
 * Button Groups.......Grouping of related buttons.
 * Pagination..........Controls to navigate pages of data.
 * Footer..............Page footer styles.
 *
 * 07. UTILITIES
 * Print...............Default styles from HTML5 Boilerplate.
 * Colors..............Background and foreground color overrides.
 * Clearfix............Provides a class for the clearfix mixin.
 * Floats..............Pull a child element to the left or right.
 * Headings............Maintain heading hierarchy, but change font sizing.
 * Spacing.............Set the margin or padding on an element.
 * Visibility..........Control the visibility of elements.
 * Widths..............Specify the width of an element.
 */

/* #SETTINGS
   ========================================================================== */

@import '01-settings/settings.global';
@import '01-settings/settings.colors';
@import '01-settings/settings.fonts';
@import '01-settings/settings.responsive';

/* #TOOLS
   ========================================================================== */

@import '02-tools/tools.mixins';

/* #GENERIC
   ========================================================================== */

@import './node_modules/normalize.css/normalize.css';
@import '03-generic/generic.reset';
@import '03-generic/generic.box-sizing';
@import '03-generic/generic.shared';

/* #ELEMENTS
   ========================================================================== */

@import '04-elements/elements.page';
@import '04-elements/elements.headings';
@import '04-elements/elements.type';
@import '04-elements/elements.links';
@import '04-elements/elements.lists';
@import '04-elements/elements.forms';
@import '04-elements/elements.figures';
@import '04-elements/elements.images';
@import '04-elements/elements.quotes';
@import '04-elements/elements.tables';

/* #OBJECTS
   ========================================================================== */

@import '05-objects/objects.wrappers';
@import '05-objects/objects.grid';
@import '05-objects/objects.lists';
@import '05-objects/objects.media';

/* #COMPONENTS
   ========================================================================== */

@import '06-components/components.alerts';
@import '06-components/components.badges';
@import '06-components/components.breadcrumbs';
@import '06-components/components.forms';
@import '06-components/components.buttons';
@import '06-components/components.button-groups';
@import '06-components/components.pagination';

/* #UTILITIES
   ========================================================================== */

@import '07-utilities/utilities.print';
@import '07-utilities/utilities.colors';
@import '07-utilities/utilities.clearfix';
@import '07-utilities/utilities.floats';
@import '07-utilities/utilities.headings';
@import '07-utilities/utilities.spacing';
@import '07-utilities/utilities.text';
@import '07-utilities/utilities.visibility';
@import '07-utilities/utilities.widths';
